.slidess {
  margin-left: 88px;
  margin-right: 80px;
  position: relative;
  margin-top: -80px;
}

.slide1 {
  margin-top: 30px;
  height: 160px;
  width: 380px;

  background-image: url("C:\reactjs\clarit\src\picture\color back1.jpg");
}
.container {
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 380px;
  height: 160px;
  transition: 0.7s ease;
}

.slide1:hover .container {
  height: 0%;
}
.slide-name1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  font-family: "Space Grotesk", sans-serif;
  color: #222429;
  position: absolute;
  margin-top: 72px;
  margin-left: 150px;
}
.slide1:hover .slide-name1 {
  color: #fff;
}
/* Actual solution */

.slide1-icon {
  width: 80px;
  height: 80px;
  background-color: #f1602d;
  float: left;
  margin-top: 40px;
  margin-left: 50px;
  position: absolute;
}

.icon-patient1 {
  color: black;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}

.icon-patient1:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0eb";
  font-size: 4rem;
}

.slide1:hover .icon-patient1 {
  color: #fff;
}

/*slide2*/
.slide2 {
  margin-top: 30px;

  height: 160px;
  width: 380px;

  background-image: url("C:\reactjs\clarit\src\picture\color back1.jpg");
}
.container2 {
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 380px;
  height: 160px;
  transition: 0.7s ease;
}

.slide2:hover .container2 {
  height: 0%;
}
.slide-name2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  font-family: "Space Grotesk", sans-serif;
  color: #222429;
  position: absolute;
  margin-top: 72px;
  margin-left: 150px;
}
.slide2:hover .slide-name2 {
  color: #fff;
}
/* Actual solution */

.slide2-icon {
  width: 80px;
  height: 80px;
  background-color: #f1602d;
  float: left;
  margin-top: 40px;
  margin-left: 50px;
  position: absolute;
}

.icon-patient2 {
  color: black;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}

.icon-patient2:before {
  font-family: "Font Awesome 5 Free";
  content: "\24";
  font-size: 4rem;
}

.slide2:hover .icon-patient2 {
  color: #fff;
}

/*slide3*/

.slide3 {
  margin-top: 30px;

  height: 160px;
  width: 380px;

  background-image: url("C:\reactjs\clarit\src\picture\color back1.jpg");
}
.container3 {
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 380px;
  height: 160px;
  transition: 0.7s ease;
}

.slide3:hover .container3 {
  height: 0%;
}
.slide-name3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  font-family: "Space Grotesk", sans-serif;
  color: #222429;
  position: absolute;
  margin-top: 72px;
  margin-left: 150px;
}
.slide3:hover .slide-name3 {
  color: #fff;
}
/* Actual solution */

.slide3-icon {
  width: 80px;
  height: 80px;
  background-color: #f1602d;
  float: left;
  margin-top: 40px;
  margin-left: 50px;
  position: absolute;
}

.icon-patient3 {
  color: black;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}

.icon-patient3:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1d8";
  font-size: 4rem;
}

.slide3:hover .icon-patient3 {
  color: #fff;
}
